body {
	background: #1E1F22;
	padding: 20px 50px;
	margin: 0px;
}

/* textarea */

textarea {
	background: transparent;
	border: 0px;
	color: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: monospace;
	outline: none;
	resize: none;
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 0;
}

/* the line numbers */

#linenos {
  color: #3D3F41;
	z-index: -1000;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 30px; /* 30 to get 20 away from box */
	font-size: 13px;
	font-family: monospace;
	text-align: right;
	user-select: none;
}

/* code box when locked */

#box {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	outline: none;
	font-size: 13px;
    overflow: inherit;
}

#box code {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
}

/* key */

#key {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: +1000; /* watch out */
}

#box1 {
	padding: 5px;
	text-align: center;
	background: #2B2D30;
}

#box1 a.logo:hover {
	background-position: 0 bottom;
}

#box3, #messages li {
	background: #3D3F41;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 15px;
	user-select: none;
}

#messages {
	position:fixed;
	top:0px;
	right:138px;
	margin:0;
	padding:0;
	width:400px;
}

#messages li {
	background:rgba(23,62,72,0.8);
	margin:0 auto;
	list-style:none;
}

#messages li.error {
	background:rgba(102,8,0,0.8);
}

.menu {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #002B36;
}

.menu-actions {
	display: flex;
}

button {
	font-size: 14px;
	color: #3D3F41;
	background: transparent;
	outline: none;
	border: none;
	padding: 4px 10px;
	cursor: not-allowed;
}

button.enabled {
	color: #78797A;
	cursor: pointer;
}

.button-wrap .label {
	display: none;
	position: absolute;
	top: 36px;
	left: 50%;
	margin-left: -46px;
	text-align: center;
	font-family: monospace;
	background: #3D3F41;
	color: #fff;
	padding: 8px;
	border-radius: 3px;
	font-size: 8px;
	width: 80px;
}

.button-wrap .label.label--small {
	margin-left: -30px;
	width: 44px;
}

.button-wrap:hover .label {
	display: block;
}

.logo a:hover svg path {
	fill: #fff;
}

